# Secrets
.env

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Secrets
.env
credentials.json
token.json
cred.txt
token.txt

# Python cache
__pycache__/
*.pyc

# Virtual env
venv/

# Logs
*.log